@model List<Product>
@{
    ViewData["Title"] = "Product List Page";
}
<div class="container overflow-hidden text-center">
    <div class="row">
        <div class="col-2 ps-0">
            <div>@await Html.PartialAsync("AdminMenu")</div>
        </div>
        <div class="col-10 p-0 bg-secondary rounded-4">
            <div class="text-white"><h1>Список продуктов</h1></div>

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Товар</th>
                        <th scope="col">Наименование товара</th>
                        <th scope="col">Цена</th>
                        <th scope="col"><a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-sm btn-success">Создать новый товар</a></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">@(Model.IndexOf(product) + 1)</th>
                            <td><img class="img-fluid rounded-start" alt="Наушники" src="@product.ImgLink" width="50"></td>
                            <td>@product.Name</td>
                            <td>@product.Cost руб</td>
                            <td> <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@product.Id" class="btn btn-primary">Редактировать</a></td>
                            <td> <a asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-productId="@product.Id" class="btn btn-danger">Удалить</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>